@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #aabdca;
  padding: 0;
  margin: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}